* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 1000%;
}
.BG{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(5px);
}

.navbar{
    display: flex;
    align-items: center;
    justify-self: top;
    background-color: rgb(106, 14, 160);
    padding: 20px;
    text-align: center;
    position: static;
    width: 100%;
}

.cabeza{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding-right: 50px;
    padding-left: 20px;
    color: white;
}

.navbar a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: rgb(255, 254, 254);
    border: none;
    padding: 2px;
}

.navbar a:hover{
    cursor: pointer;
}

.links{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-self:center;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: solid 4px black;
    width: 200px;
    height: 200px;
    font-family: "Antic", sans-serif;
    border-radius: 10px;
}

.antic-regular {
  font-family: "Antic", sans-serif;
  font-weight: 400;
  font-style: normal;
}