* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 1000%;
}
.BG{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(5px);
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: top;
    background-color: rgb(106, 14, 160);
    padding: 20px;
    text-align: center;
    position: static;
    width: 100%;
}
.cabeza{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding-right: 50px;
    padding-left: 20px;
    color: white;
}

.navbar a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
    color: rgb(255, 254, 254);
    border: none;
    padding: 2px;
}
.navbar a:hover{
    cursor: pointer;
}

.header-sostenibilidad{
    background-color: white;
    border: solid 4px black;
    border-radius: 10px;    
    display: flex;
    align-items: center;
    width: 1000px;
    height: 100px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    margin-left: 200px;
}
.header-sostenibilidad h2{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    padding-right: 20px;
}  
.header-sostenibilidad p{
    font-family: "Antic", sans-serif;
    text-align: justify;
}
.PyS{
    display: flex;
    position: absolute;
    width: 100%;
    gap: 10px;
    padding: 10px;
}

.chile{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 200px;
    height: 475px;
    border: solid 4px black;
    padding: 10px;
    border-radius: 10px;
    margin-left: 50px;
    font-family: "Antic", sans-serif;
}

.peru{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 200px;
    height: 475px;
    border: solid 4px black;
    padding: 10px;
    border-radius: 10px;
    font-family: "Antic", sans-serif;
}

.chile img{
    width: 30px;
    height: 30px;
    transform: translateY(6px);
}

.peru img{
    width: 30px;
    height: 30px;
    transform: translateY(6px);
}
.problema {
    font-family: "Antic", sans-serif;
    background-color: white;
    display: inline-block;
    border: solid 4px black;
    width: 400px;
    height: 320px;
    padding: 10px;
    border-radius: 10px;
    overflow: auto; 
}
 .solucion{
    font-family: "Antic", sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: solid 4px black;
    width: 400px;
    height: 320px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}
.solucion img{
    border-radius: 10px;
    float: left;
    display: block;
    width: 120px;
    height: auto;
    margin: 8px 12px 8px 0;
    z-index: 1;
}

.problema h2, .solucion h2 {
    margin-bottom: 10px;
}

.problema p, .solucion p {
    text-align: justify;
    overflow-wrap: break-word;
    width: 100%;
}
.problema img{
    border-radius: 10px ;
    float: right;
    display: block;
    width: 120px;
    height: auto;
    margin: 8px 0 8px 12px;
}
.conclusion{    
    font-family: "Antic", sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: solid 4px black;
    width: 810px;
    height: 150px;
    padding: 10px;
    margin-left: 273px;
    margin-top: 335px;
    border-radius: 10px;
    position: relative;

}
.conclusion p{
    padding-top: 5px;
}
.antic-regular {
  font-family: "Antic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width:800px){
    .navbar{
        display: flex;
        flex-direction:column;
        align-items: center;
    }
    .navbar h1{
        margin-left: 50px;
    }
    .PyS{
        display:flex;
        flex-direction: column;
        
    }
}