body { 

background-color: aliceblue;

}

.barra { 
    background-color: blue;
    width: 100% ;
    height: 85px;
    border-radius: 10px;
    display: flex;
}

.sip { 
    border-radius: 100%;
    margin-left: 300px;
    width: 75px;
    height: 75px;
}

.j0 { 
    text-align: center;
    margin-top: -5px;
    margin-left: 500px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.j1 {
    background-color: rgb(189, 162, 9);
    text-align: center;
    margin-top: -5px;
    margin-left: 500px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    border: solid black 3px;
    border-radius: 10px;
    border-color: black;
    margin-top: -16px;
}

.j2 { 
    margin-left: 35%;    
    width: 137px ;
     background-color: rgb(189, 162, 9);
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    border: solid black 3px;
    border-radius: 10px;
    border-color: black;
}

.link { 
        margin: 5px;
        display: flex;
        background-color: blue;
        width: 100% ;
        height: 50px;
       border-radius: 10px; 
         border: solid black 2px;
    }

a {
     flex-direction: row;
     margin: 50px;
     font-size: 30px;
     color: white;
     font-weight: 800;
     margin-top: -3px;
     margin-left: 150px;
    }

.fondo { 
        display: flex;
        background-color: rgb(202, 195, 195);
        width: 100%;
        height: 600px;
        border-radius: 10px;
        border: solid black 2px;
    }

.info1{
        display: flex;
        background-color: rgb(0, 38, 255) ;
        width: 30% ;
        height: 95% ;
       border: solid black 3px;
        margin-top: 7px;
        border-radius: 10px;
        display: inline-block;
        margin: 10px;
         margin-left: 45px;
    }

.info2{
             display: flex;
        background-color: rgb(0, 38, 255) ;
        width: 30% ;
        height: 95% ;
        margin-left: 10px;
        margin-top: 7px;
        border-radius: 10px;
        display: inline-block;
        border: solid black 3px;
    }

.medio{ 
        border-radius: 10px;
        border: solid black 5px;
        width: 30% ;
        height: 60% ; 
        margin-top: -30px;
        margin:10px;
    }

p { 
        flex-direction: column;
         text-align: center;
          color: white;
        }

.img3 {  
            margin-left: 20px;
            width: 90%;
            height: 30%;
            border: solid rgb(0, 0, 0) 3px;
            border-radius: 10px;
        }

.img2 {
             margin-left: 45px;
            width: 80%;
            height: 27%;
            border: solid rgb(0, 0, 0) 3px;
            border-radius: 10px;
            margin-top: -10px;
         }

.resumen { 
        margin-top: 20px;
        background-color: rgb(1, 1, 194);
        display: flex;
        width: 100%;
        height: 500px;
        border-radius: 30px;
        border-color: blue 3px;
     }

.j3 { 
        margin-top: 20px;
        width: 80%;
        height: 300px;
        display: block;  
        background-color: rgb(189, 162, 9);
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
        border: solid black 3px;
        border-radius: 10px;
        border-color: black;
        margin-left: 10%;
        
     }

